spring:
  application:
    name: api-gateway

  cloud:
    gateway:
      discovery:
        locator:
          enabled: true
          lower-case-service-id: true

      routes:
        - id: product-service
          uri: lb://product-service
          predicates:
            - Path=/product/**

        - id: order-service
          uri: lb://order-service
          predicates:
            - Path=/order/**

        - id: auth-service
          uri: lb://auth-service
          predicates:
            - Path=/auth/**	

  security:
     user:
       name: admin
       password: admin123
server:
  port: 9000
eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/



